body {
  font-family: Quicksand, Courier, monospace;
  background-color: rgb(255, 255, 255);
  height: 100dvh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 40%;
}

header > * {
  margin: 0px;
}

dialog {
  padding: 1rem 2rem;
  border-radius: 7px
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

h3 {
  text-align: center;
}

form {
  display: grid;
  place-self: center;
  grid-template-columns: 200px;
  gap: 0.3rem;
}

form div {
  width: 100%;
}

input, select {
  width: 200px;
  padding: 3px;
}

input:focus, select:focus {
  outline: none;
}

.button {
  background-color: white;
}

.button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 90%);
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  border-radius: 6px;
  padding: 0.3rem 0.8rem;
  border: 1px solid black;
  margin-top: 1rem;
}

main {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 60%;
}

#new-book {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

#current-books {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#books-container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  height: 80%;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.card > * {
  margin: 0px;
  font-size: 1rem;
}

.card button {
  margin: 1rem;
}
